<footer
    class=" relative bottom-0 w-[100%] px-[40px] pt-[20px] bg-black flex mt-[20px] static bottom-0 flex-col text-white gap-2">
    <div id="div1"><a class="text-lg decoration-none text-white" href="/"><img class="w-[150px]" src="/img/Kharid.png"
                alt=""></a></div>
    <div class=" flex justify-between gap-2">
        <div class="w-[50%] flex flex-col gap-2">
            <h1>ABOUT US</h1>
            <p>The KharidLO E-Commerce Project signifies a comprehensive venture aimed at revolutionizing the online
                shopping landscape. Introducing a dynamic and user-centric platform, this project was conceived to cater
                to evolving consumer needs in the digital marketplace. Harnessing the capabilities of modern
                technologies - EJS, Node.js, Express, MongoDB, and Mongoose - KharidLO strives to redefine the shopping
                experience by integrating cutting-edge functionalities with an intuitive user interface. </p>
        </div>
        <div class="w-[30%] flex flex-col items-center gap-2 py-2">
            <h1>Terms Of Services</h1>
            <h1>Contact Us</h1>
            <h1>Feedback</h1>

        </div>
        <div class=" flex flex-col gap-1 w-[20%] py-2">
            
            <form action="#" class=" flex flex-col gap-1">
                <input type="text" name="SubNAME" placeholder="Your Name" class="text-center h-[40px] outline-none text-black">
                <input type="email" name="SubEmail" placeholder="Your Email" class="text-center h-[40px] outline-none text-black">
                <button class="bg-orange-500 text-white rounded-sm p-[6px]">Subscribe</button>

            </form>
        </div>
    </div>
    </div>
    <div class=" text-center">
        <p>&copy; 2023 Our Website. All Rights Are Reserved.</p>
    </div>

</footer>