<footer class=" relative bottom-0 w-[100%] px-[40px] pt-[20px] bg-black flex mt-[20px] static bottom-0 flex-col text-white ">
    <div id="div1" ><a  class="text-lg decoration-none text-white" href="/"><img class="w-[150px]" src="/img/Kharid.png" alt=""></a>
        <div class=" flex justify-around gap-1">
        <div>about us
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci reiciendis enim mollitia, laborum a, tenetur doloribus id, explicabo iusto ab rerum! Atque, rem! Dolor dicta vel, nam ut sint eveniet veniam suscipit quam qui, iure aspernatur, at perspiciatis repellendus. Rem sequi, consectetur, vel, quidem iste neque eveniet ea dolorem natus dolores quasi. Asperiores ad obcaecati repellendus, id deleniti suscipit sed?</p>
        </div>
        <div>details 
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit itaque eum nobis, magni, assumenda aliquid, aspernatur corporis doloribus quisquam quis consequuntur. Hic amet fugit maiores, ab culpa atque repudiandae delectus qui beatae suscipit non numquam voluptatem dolorem ea recusandae voluptas.</p>
        </div>
            <div class=" flex flex-col gap-1"><h1>subscriptions</h1>
                <form action="#" class=" flex flex-col gap-1" >
                    <input type="text" name="SubNAME" placeholder="Your Name">
                    <input type="email" name="SubEmail" placeholder="Your Email" >
                    <button>Subscribe</button>

                </form>
            </div>
            </div>
        </div>
        <div class=" text-center">
            <p>&copy; 2023 Your Website. All Rights Reserved.</p>
        </div>

</footer>