<header class="w-[100%] bg-purple-950 flex justify-between fixed top-0">
  <div id="logo" class="ml-[40px] my-[16px]"><a href="/" class="text-white decoration-none">KharidLO</a></div>
  <div id="bar" class="my-[16px]">
    <form action="#"><input type="search" placeholder="search here" class="text-black text-center w-[300px] h-[30px] rounded text-xl outline-none">
    </form>
  </div>
  <div id="tags" class="mr-[40px] my-[16px]">
    <ul id="tags_list_items" class="flex gap-[40px] text-white list-none">
      <li><a href="/profile"><img  class="w-[35px] " src="/img/profile.png" alt=""></a></li>
      <li><a href="/order"><img class="w-[35px] "  src="/img/order.png" alt=""></a></li>
      <li><a href="/wish"><img  class="w-[35px] "  src="/img/wish.png" alt=""></a></li>
      <li><a href="/cart"><img  class="w-[35px] " src="/img/cart.png" alt=""></a></li>
    </ul>
  </div>
</header>