<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KharidLO</title>
    <link rel="shortcut icon" href="img/k.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- <link rel="stylesheet" href="/styles/header.css"> -->
    
    <link rel="stylesheet" href="/styles/footer.css">
</head>

<body class="m-0 p-0 bg-violet-300"><%- include('components/header.ejs') %>
        <main class="mt-[80px] mr-[40px] ml-[40px] flex flex-col gap-[20px]" >
            <div class="flex justify-center "><img src="img/slides/slide1.jpg" alt="" class="h-[500px]">
                <!-- <img src="img/slides/slide2.jpg" alt=""> -->
                <!-- <img src="img/slides/slide3.jpg" alt="">
            <img src="img/slides/slide4.jpg" alt=""> -->
            </div>
            <div id="box" class="rounded-[1.5px]
            bg-white pb-[20px]">
                <h1 class="ml-[30px] mt-[14px]">sales</h1>
                <div id="card" class="flex justify-center gap-[12px]">
                    <div id="carditem" class="border-2 border-rgba(105, 105, 105, 0.281) flex flex-col items-center">
                        <div><img src="img/k.png" alt="" id="cardimg" class="w-[180px]"></div>
    
                        <div id="cardtext" class="text-center  text-xl">text</div>
    
                    </div>
                    <div id="carditem" class="border-2 border-rgba(105, 105, 105, 0.281) flex flex-col items-center">
                        <div><img src="img/k.png" alt="" id="cardimg" class="w-[180px]"></div>
    
                        <div id="cardtext" class="text-center  text-xl">text</div>
    
                    </div>
                    <div id="carditem" class="border-2 border-rgba(105, 105, 105, 0.281) flex flex-col items-center">
                        <div><img src="img/k.png" alt="" id="cardimg" class="w-[180px]"></div>
    
                        <div id="cardtext" class="text-center  text-xl">text</div>
    
                    </div>
                    <div id="carditem" class="border-2 border-rgba(105, 105, 105, 0.281) flex flex-col items-center">
                        <div><img src="img/k.png" alt="" id="cardimg" class="w-[180px]"></div>
    
                        <div id="cardtext" class="text-center  text-xl">text</div>
    
                    </div>
                    <div id="carditem" class="border-2 border-rgba(105, 105, 105, 0.281) flex flex-col items-center">
                        <div><img src="img/k.png" alt="" id="cardimg" class="w-[180px]"></div>
    
                        <div id="cardtext" class="text-center  text-xl">text</div>
    
                    </div>
                    <div id="carditem" class="border-2 border-rgba(105, 105, 105, 0.281) flex flex-col items-center">
                        <div><img src="img/k.png" alt="" id="cardimg" class="w-[180px]"></div>
    
                        <div id="cardtext" class="text-center  text-xl">text</div>
    
                    </div>
                </div>
            </div>
            <div id="box" class="rounded-[1.5px]
            bg-white pb-[20px]">
                <h1 class="ml-[30px] mt-[14px]">sales</h1>
                <div id="card" class="flex justify-center gap-[12px]">
                    <div id="carditem" class="border-2 border-rgba(105, 105, 105, 0.281) flex flex-col items-center">
                        <div><img src="img/k.png" alt="" id="cardimg" class="w-[180px]"></div>
    
                        <div id="cardtext" class="text-center  text-xl">text</div>
    
                    </div>
                    <div id="carditem" class="border-2 border-rgba(105, 105, 105, 0.281) flex flex-col items-center">
                        <div><img src="img/k.png" alt="" id="cardimg" class="w-[180px]" class="w-[180px]"></div>
    
                        <div id="cardtext" class="text-center  text-xl">text</div>
    
                    </div>
                    <div id="carditem" class="border-2 border-rgba(105, 105, 105, 0.281) flex flex-col items-center">
                        <div><img src="img/k.png" alt="" id="cardimg" class="w-[180px]"></div>
    
                        <div id="cardtext" class="text-center  text-xl">text</div>
    
                    </div>
                    <div id="carditem" class="border-2 border-rgba(105, 105, 105, 0.281) flex flex-col items-center">
                        <div><img src="img/k.png" alt="" id="cardimg" class="w-[180px]"></div>
    
                        <div id="cardtext" class="text-center  text-xl">text</div>
    
                    </div>
                    <div id="carditem" class="border-2 border-rgba(105, 105, 105, 0.281) flex flex-col items-center">
                        <div><img src="img/k.png" alt="" id="cardimg" class="w-[180px]"></div>
    
                        <div id="cardtext" class="text-center  text-xl">text</div>
    
                    </div>
                    <div id="carditem" class="border-2 border-rgba(105, 105, 105, 0.281) flex flex-col items-center">
                        <div><img src="img/k.png" alt="" id="cardimg" class="w-[180px]"></div>
    
                        <div id="cardtext" class="text-center  text-xl">text</div>
    
                    </div>
                </div>
            </div>
            <div id="box" class="rounded-[1.5px]
            bg-white pb-[20px]">
                <h1 class="ml-[30px] mt-[14px]">sales</h1>
                <div id="card" class="flex justify-center gap-[12px]">
                    <div id="carditem" class="border-2 border-rgba(105, 105, 105, 0.281) flex flex-col items-center">
                        <div><img src="img/k.png" alt="" id="cardimg" class="w-[180px]"></div>
    
                        <div id="cardtext" class="text-center  text-xl">text</div>
    
                    </div>
                    <div id="carditem" class="border-2 border-rgba(105, 105, 105, 0.281) flex flex-col items-center">
                        <div><img src="img/k.png" alt="" id="cardimg" class="w-[180px]"></div>
    
                        <div id="cardtext" class="text-center  text-xl">text</div>
    
                    </div>
                    <div id="carditem" class="border-2 border-rgba(105, 105, 105, 0.281) flex flex-col items-center">
                        <div><img src="img/k.png" alt="" id="cardimg" class="w-[180px]"></div>
    
                        <div id="cardtext" class="text-center  text-xl">text</div>
    
                    </div>
                    <div id="carditem" class="border-2 border-rgba(105, 105, 105, 0.281) flex flex-col items-center">
                        <div><img src="img/k.png" alt="" id="cardimg" class="w-[180px]"></div>
    
                        <div id="cardtext" class="text-center  text-xl">text</div>
    
                    </div>
                    <div id="carditem" class="border-2 border-rgba(105, 105, 105, 0.281) flex flex-col items-center">
                        <div><img src="img/k.png" alt="" id="cardimg" class="w-[180px]"></div>
    
                        <div id="cardtext" class="text-center  text-xl">text</div>
    
                    </div>
                    <div id="carditem" class="border-2 border-rgba(105, 105, 105, 0.281) flex flex-col items-center">
                        <div><img src="img/k.png" alt="" id="cardimg" class="w-[180px]"></div>
    
                        <div id="cardtext" class="text-center  text-xl">text</div>
    
                    </div>
                </div>
            </div>
        </main>

        <%- include('components/footer.ejs') %>
</body>

</html>