<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="shortcut icon" href="img/k.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="m-0 p-0 bg-violet-300  h-full ">
    <%- include('../components/header.ejs') %>
        <main class="mt-[80px] mr-[40px] ml-[40px] min-h-[60.6vh] flex flex-col items-center gap-[20px]">
            <div class="h-[100px] w-11/12 bg-white flex justify-around items-center rounded-sm">
                <div>Items in Your Cart</div>
                <div class=" "><button class="bg-purple-900 text-white rounded-sm p-[6px]">BUY NOW</button></div>
            </div>

            <div class="w-11/12  min-h-[50vh] bg-white items-center flex justify-center rounded-sm p-1 gap-2">
                <div class=" w-3/4  flex flex-col  justify-start items-start gap-8  ">

                    <% if(locals.productName){%>
                        <div class=" w-full border-2 border-black flex items-center"><img src="/img/k.png" alt=""
                                class="w-[100px]">
                            <div>
                                <h1>
                                    <%= productName %>
                                </h1>
                            </div>
                        </div>
                         <div class=" w-1/4 border-2 border-red-900 flex flex-col justify-center items-center">Lorem i</div>
            </div>
                        <% } else{%>
                            <div class="w-full flex justify-center items-center ">Empty</div>

                            <% } %>

                </div>

               
        </main>
        <%- include('../components/footer.ejs') %>
</body>

</html>





<!-- <div class=" w-full border-2 border-black flex items-center"><img src="/img/k.png" alt=""
                            class="w-[100px]">
                        <div>details Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt,
                            odit.nfbngfdndkjgbkrjkdrnhgirdi</div>
                    </div>
                    <div class=" w-full border-2 border-black flex items-center"><img src="/img/k.png" alt=""
                            class="w-[100px]">
                        <div>details Lorem ipsum dolor etur adipisicing elit. Nesciunt, odit.nfbngfdndkjgbkrjkdrnhgirdi
                        </div>
                    </div> -->