<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="shortcut icon" href="img/k.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/profile.css">
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>
<body>
    <%- include('../components/header.ejs') %>
    <main class="min-h-[67.53vh]">
        <div class="myprofi">
            My Profile
        </div>
        <div class="hello">
            <img class="hellopic
            " src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/profile-pic-male_4811a1.svg" width="40px" height="40px" alt="ProfilePic">
            <span class="Hellotext" >Hello, Ashish</span>
        </div>
        <div class="container">
            <div class="personalinfo"><strong>Personal Details</strong></div>
            <div class="myorders"><strong>My orders</strong></div><br>
            <div class="mycoupons"><strong>My coupons</strong></div>
        </div>
        <div class="info">
            <div class="name">
                
                    <span class="namespan"><strong>Your Name: </strong></span><div class="firstname">Ashish</div><div class="secondname">Singh</div>
                
            </div>
            <div class="Phone">
                <span class="ph"><strong>Phone Number:  </strong></span><div class="PH">+916261478150</div>
            </div>
            <div class="email">
                <span class="emu"><strong>Email: </strong></span><div class="emailbar">everyonesdady@gmail.com</div>
            </div> 
            <div class="address">
                <span class="adu"><strong>Address: </strong></span><div class="add">You are so beautiful you are so elegant your are looking like a wow, just like a wow</div>
            </div>
            <div class="photo"> <img src="/img/pp-modified.png" width="150" height="150" alt="12"></div>
            <div class="settings"><img src="https://tse1.mm.bing.net/th?id=OIP.5VggKvAvfZ6gMdX-jApSyAHaHu&pid=Api&P=0&h=220" width="20" height="20" alt=""></div>
            <span class="set">Settings</span>
            <div class="feed"><img src="/img/feedback-8.png" width="30" height="30" alt=""></div>
            <span class="feedback">Feedback</span>
        </div>
        
    </main>
    <%- include('../components/footer.ejs') %>
</body>
</html>