<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="shortcut icon" href="img/k.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/profile.css">
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>
<body>
    <%- include('../components/header.ejs') %>
    <main class="mt-[80px] mr-[40px] ml-[40px] min-h-[60.6vh]">
        <div class="ti"><strong>My Profile</strong></div>
        <div class="main">
            <div class="container1">
                <div class="options"><strong>Personal Details</strong></div>
                <div class="options"><strong>My Orders</strong></div>
                <div class="options"><strong>My Coupons</strong></div>
            </div>
            <div class="container2">
                
                    <div class="Hello">
                        <div class="image">
                          <img src="/img/pp-modified.png" width="150px" height="150px">
                        </div>
                        <div class="text">
                          <h3><strong>Hello, Ashish</strong></h3>
                        </div>
                      </div>
                    <div class="box">

                        <div class="bull">
                            <div class="name"><strong>Your Name: </strong></div>
                            <div class="Phone_Number"><strong>Phone Number: </strong></div>
                            <div class="Email"><strong>Email: </strong></div>
                            <div class="Address"><strong>Address: </strong></div>

                        </div>
                        <div class="details">
                            <div class="su">Ashish Kumar Singh</div>
                            <div class="su">+916261478150</div>
                            <div class="su">everyonesdady@gmail.com</div>
                            <div class="su" id="huhu">You are so beautiful you are so elegant you are looking just like a wow just like a wow</div>
                            <div class="settings">
                                <div class="img">
                                    <img src="/img/setting.png" width="20" height="10" alt="22">
                                </div>
                                <div class="text">
                                    <h5>Settings</h5>
                                </div>
                        </div>
                        </div>
                    </div>
                
                
            </div>
        </div>

    </main>
    <%- include('../components/footer.ejs') %>
</body>
</html>