<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="shortcut icon" href="img/k.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/profile.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="m-0 p-0 bg-violet-300 h-full">
    <%- include('../components/header.ejs') %>
    <main class="mt-[80px] mr-[40px] ml-[40px] min-h-[60.6vh]">
        <div class="border-2 border-black flex justify-center"><strong>My Profile</strong></div>
        <div class="Hello flex  flex-col items-center border-2 border-black">
            <div class="image">
              <img src="/img/pp-modified.png" width="150px" height="150px">
            </div>
            <div class="text">
              <h3><strong>Hello, Ashish</strong></h3>
            </div>
          </div>
        <div class="main flex justify-center gap-2">
            <div class="container1 border-2 border-black">
                <div class="options"><strong>Personal Details</strong></div>
                <div class="options"><strong>My Orders</strong></div>
                <div class="options"><strong>My Coupons</strong></div>
            </div>
            
            <div class="container2 border-2 border-black flex justify-center relative"> 
                <div class="flex flex-col w-[500px]">
                    <div class="flex gap-2"><h1>Name:</h1><p> Ashish Singh</p></div>
                    <div class="flex gap-2"><h1>Name:</h1><p> Ashish Singh</p></div>
                    <div class="flex gap-2"><h1>Name:</h1><p> Ashish Singh</p></div>
                    <div class="flex gap-2"><h1>Name:</h1><p> Ashish Singh</p></div>
                    <div class="flex gap-2"><h1>Name:</h1><p> Ashish Singh</p></div>
                   
                    
                    
                </div>
                <div class="text absolute right-0 bottom-0">
                    <h5>Settings</h5>
                </div>
            </div>
        </div>

    </main>
    <%- include('../components/footer.ejs') %>
</body>

</html>