<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="shortcut icon" href="img/k.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/profile.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="m-0 p-0 bg-violet-300">
    <%- include('../components/header.ejs') %>
        <main class="mt-[80px] mr-[40px] min-h-[60.6vh] ml-[40px] flex  items-center gap-[20px] bg-white">
        </main>
        <%- include('../components/footer.ejs') %>
</body>

</html>