<div class="flex justify-center "><img src="img/slides/slide1.jpg" alt="" class="h-[500px]">
    <!-- <img src="img/slides/slide2.jpg" alt=""> -->
    <!-- <img src="img/slides/slide3.jpg" alt="">
<img src="img/slides/slide4.jpg" alt=""> -->
</div>