<div class="flex justify-center overflow-hidden " id="slideshow">

    <img src="img/slides/slide1.jpg" alt="" class="h-[500px] hidden" id="slide1">
    <img src="img/slides/slide2.jpg" alt="" class="h-[500px] hidden" id="slide2">
    <img src="img/slides/slide3.jpg" alt="" class="h-[500px] hidden" id="slide3">
    <img src="img/slides/slide4.jpg" alt="" class="h-[500px] hidden" id="slide4"> 
</div>
<script>
    // let images=[
    // "img/slides/slide1.jpg",
    // "img/slides/slide2.jpg",
    // "img/slides/slide3.jpg",
    // "img/slides/slide4.jpg"];
 
    // let current_slide=images[1];

    // while (j=true){
        
    // };

</script>