<div class="slideshow-container  flex justify-center items-center">
    <a class="prev select-none w-[20px] h-[40px] p-1 cursor-pointer bg-black text-white" onclick="plusSlides(-1)">❮</a>
    <div class="mySlides fade">
      
      <img src="img/slides/slide1.jpg" class="h-[400px] min-w-[1000px]">
      
    </div>
    
    <div class="mySlides fade">
      
      <img src="img/slides/slide2.jpg" class="h-[400px] min-w-[1000px]">
      
    </div>
    
    <div class="mySlides fade">
      
      <img src="img/slides/slide3.jpg" class="h-[400px] min-w-[1000px]">
      
    </div>
    <div class="mySlides fade">
        
        <img src="img/slides/slide4.jpg" class="h-[400px] min-w-[1000px]">
        
      </div>
    
    
    <a class="next  select-none w-[20px] h-[40px] p-1 cursor-pointer bg-black text-white" onclick="plusSlides(1)">❯</a>
    
    </div>
    
    
    


